<!DOCTYPE html>
<html>
	<head>
		<title>Personal Site Test</title>
		<meta></meta>
	</head>
	<body>
		<div id="name_sec">
		<h2>Anton Goretsky</h2>
		</div>
		<div id="button_sec">
			<div id="program_button">
			<p>
				<a href="{{ url_for('program_page') }}">Programming</a>
			</p>
			</div>
			<div id="photo_button">
			<p>
				<a href="{{ url_for('photo_page') }}">Photography</a>
			</p>
			</div>
			<div id="video_button">
			<p>
				<a href="{{ url_for('video_page') }}">Videography</a>
			</p>
			</div>
		</div>
	</body>
</html>
